.card {
    margin:  2rem 1rem;
    display: flex;
}

img {
    height: 200px;
    width: 250px;
    object-fit: cover;
    border-radius: 0.25rem;
}

.card--info {
    padding: 0.5rem 1rem;
}

.card--location {
    display: flex;
    align-items: baseline;
    color: #636466;
}

.location--icon {
    margin-right: 0.25rem;
    max-height: 16px;
    width: 16px;
    height: auto;
}

.location--link, 
.location--link:visited {
    margin-left: 0.5rem;
    font-size: 0.9rem;
    text-decoration: none;
    color: #7C7C7C;
    &:hover {
        text-decoration: underline;
    }
}

h2 {
    margin: 0.5rem 0;
    font-size: 2rem;
}

p {
    max-width: 800px;
}